.body{
    margin-top: 100px;
    display: flex;
    justify-content: flex-start;
    /* width: 490px; */
}
.rigthPart{
    display: flex;
    justify-content: center;
}
.bigDegree{
    /* margin:  0px 15px; */
    font-size: 48px;
    color: white;
    font-weight: 400;
}
.celestial{
    margin: 15px 0px 25px 0px;
    width: 38px;
    height: 38px;
    transform: rotate(-90deg);
}
.leftPart{
    margin:5px 0px 0px 20px;
}